body{
    background-color: #9E89CC;
   
 
}
.container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.button{
    display: inline-block;
    text-decoration: none;
    padding: 14px 24px;
    color:#eef3d2;
    border:1px solid #eef3d2;
    overflow: hidden;
    position: relative;
    transition: color .5s .25s;
    margin:auto;
}

.button::before,
.button::after{
    content: '';
    position: absolute;
    top:0;
    width:50%;
    height: 100%;
    background-color: #eef3d2;
    z-index: -1;
    transform: scaleX(0);
    transition: transform .5s
    cubic-bezier(.785,.135,.15,.86);

}


.button::before{
    left:0;
    transform-origin: left;
}

.button::after{
    right:0;
    transform-origin: right;
}


.button:hover::after,
.button:hover::before{
    transform:scaleX(1);
}

.button:hover{
    color:#8689c0;
    transition-delay: .5s;
}
